div {
    border: 1px solid black;
}

#tasks {
    width: 550px;
}

.task {
    border: 1px solid black;
    width: 500px;
    /* min-height: 50px; */
    margin: 3px;
}

.task button {
    float: right;
}

.complete-button {
    min-width: 120px;
}